
/* Global styles */
html, body {
    font-family: verdana;
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-image: url(./assets/BG.png);
    background-size: 64px 64px;
    height: 100%;
}
nav {
    z-index: 1;
    color: white;
    background-color: #3dc578;
    text-align: center;
    margin:auto;
}
nav ul{
    display: inline;
}
nav h1 {
    display: inline;
}

nav ul li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;

}

nav {
    padding: 16px;
}

nav ul li {
    padding: 0 3%;
    margin:0;
}
article {
    padding: 16px;
    margin: auto;
    min-height: 100%;
    height: fit-content;
    background-color: white;
}

header {
    margin: 10px 0;
    padding: 0;
}

h1 a {
    font-weight: bold;
}
img {
    display: block;
    margin: 32px auto;
    width: 50%;
    border: 2px solid black;
}
li {
    margin-bottom: 8px;
}

pre {
    white-space: pre-wrap;
}

pre code {
  color: #3dc578;
  font-weight: bold;
  background-color: #101010;
  border: 2px solid gray;
  display: block;
  padding: 10px 30px;
  max-width: fit-content;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }
}
/* Large devices (laptops/desktops, 950px and up) */
@media only screen and (min-width: 950px) {
    nav, article {
        max-width: 950px;
    }
    nav, article {
        padding: 16px 32px;
    }
}
